{% extends "base.html" %}
{% block title %} Edit Product {% endblock %}
{% block content %}
    <h2>Edit Product</h2>
    <form method="POST" enctype="multipart/form-data">

        <script src="index.js">
                        
        </script>
        <label>Name:</label>
        <input type="text" name="name" value="{{ product.name }}" required>
        <br>

        <label>TEFAP:</label>
        <input type="radio" name="TEFAP" value="Yes" {% if product.tefap == "Yes" %}checked{% endif %} required> Yes
        <input type="radio" name="TEFAP" value="No" {% if product.tefap == "No" %}checked{% endif %} required> No
        <br>

        <label>Location:</label>
        <input type="text" name="location" value="{{ product.location }}" required>
        <br>

        <label>Quantity:</label>
        <input type="number" name="quantity" value="{{ product.quantity }}" required>
        <br>

        <label>Alert Quantity:</label>
        <input type="number" name="alertNum" value="{{ product.alert_num }}" required>
        <br>

        <label>Date Arrived:</label>
        <input type="date" name="date-arrived" value="{{ product.date_arrived }}">
        <br>

        <label>Best By:</label>
        <input type="date" name="best-by" value="{{ product.best_by }}">
        <br>

        <label>Past Best By:</label>
        <select class="add-control" id="past_best_by" name="past_best_by" required>
            <option value="5-days" {% if product.best_by == '5-days' %}selected{% endif %}>5 days</option>
            <option value="1-month" {% if product.best_by == '1-month' %}selected{% endif %}>1 month</option>
            <option value="6-months" {% if product.best_by == '6-months' %}selected{% endif %}>6 months</option>
        </select>
        <br>

        <label>Expiration:</label>
        <input type="date" name="exp" value="{{ product.expiration }}">
        <br>

        <label>Current Image:</label>
        {% if product.image %}
            <img src="{{ url_for('static', filename='uploads/' + product.image) }}" width="100">
        {% else %}
            <p>No image available</p>
        {% endif %}
        <br>

        <label>Change Image:</label>
        <input type="file" name="image">
        <br>

        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
{% endblock %}
