{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block content %}
<html lang="en">
    <head>
        <title>Marketplace Inventory</title>
        <link href="{{ url_for('static', filename='style/home.css') }}" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1>Mountaineer Marketplace Inventory</h1>
        </header>
        <section>
            <div class="top-controls">
                <div class="csv-button-container">
                    <a href="{{ url_for('views.export') }}" class="csv-button">Export To CSV</a>
                </div>
            
                <div class="searchbar">
                    <input type="search" id="searchbar" name="searchbar" placeholder="Search...">
                </div>
            
                <div class="filter-container">
                    <label for="filter">Filter by:</label>
                    <select id="filter" class="filter-dropdown">
                        <option value="all"> All</option>
                        <option value="name_asc"> Name Ascending</option>
                        <option value="name_desc"> Name Descending</option>
                        <option value="quantity_asc"> Quantity Ascending</option>
                        <option value="quantity_desc"> Quantity Descending</option>
                        <option value="location"> Location </option>
                        <option value="expiration"> Expiration </option>
                        <option value="date_arrived"> Date Arrived </option>
                        <option value="best_by"> Best by</option>
                    </select>
                </div>
            </div>

        <section>
            <table>
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Date Arrived</th>
                        <th>TEFAP</th>
                        <th>Best By</th>
                        <th>Expiration</th>
                        <th>Location</th>
                        <th>Quantity</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for result in results %}
                    <tr>
                        <td>
                            {% if result.image %}
                                <img src="{{ url_for('static', filename='uploads/' + result.image) }}" alt="{{ result.name }}" class="product-img" onclick="openModal(this)">
                            {% else %}
                                No Image
                            {% endif %}
                        </td>
                        <td>{{ result.name }}</td>
                        <td>{{ result.date_arrived.strftime('%m-%d-%Y') }}</td>
                        <td>{{ result.tefap }}</td>
                        <td>{{ result.best_by.strftime('%m-%d-%Y') }}</td>
                        <td>{{ result.expiration.strftime('%m-%d-%Y') }}</td>
                        <td>{{ result.location }}</td>
                        <td>
                            <div class="quantity-container">
                                <button type="button" class="button minus" data-id="{{ result.primary_id }}"> - </button>
                                <span class="quantity" data-id="{{ result.primary_id }}">{{ result.quantity }}</span>
                                <button type="button" class="button plus" data-id="{{ result.primary_id }}"> + </button>
                            </div>
                        </td>                        
                        <td>
                            <a href="{{ url_for('views.edit', id=result.primary_id) }}" class="edit-button">Edit</a>
                        </td>
                        <td>
                            <button class="delete-button" data-id="{{ result.primary_id }}">Delete</button>
                        </td>
                        
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>

        <script src="{{ url_for('static', filename='home.js') }}"></script>
        
    </body>
</html>
{% endblock %}

